body{
	background: white;
}
#header{
	background-image: "img/banner.jpeg"
}
#content{
	background: green;
	height: 100%;
	width: 50%;
}
h1{
	margin: 0;
}
#banner-image{
	width: ;
}
img{
	width: 100%;
}