h3 {
	font-family: 'Avenir';
	font-weight: normal;
	text-align: center;
}

p {
	font-size: 200px;
}

.article {
	width: 90%;
	margin: auto;
}

@media only screen and (min-width: 768px) {
	h3 {
		font-size: 30px;
	}
	.article {
		width: 60%;
	}
}

@media only screen and (min-width: 1024px) {
	h3 {
		font-size: 50px;
	}
}