h3 {
	font-family: 'Avenir';
	font-weight: normal;
	text-align: center;
}

h5 {
	font-family: 'Avenir';
	font-weight: normal;
}

p {
	font-size: 10px;
}

.article {
	width: 90%;
	margin: auto;
}

@media only screen and (min-width: 768px) {
	h3 {
		font-size: 30px;
	}
	.article {
		width: 60%;
	}
	p {
		font-size: 20px;
	}
	h5 {
		font-size: 25px;
	}
}

@media only screen and (min-width: 1024px) {
	h3 {
		font-size: 50px;
	}
	p {
		font-size: 30px;
	}
	h5 {
		font-size: 40px;
	}
}