.title {
	font-size: 70px;
	text-align: center;
	font-family: Avenir;
	color: rgba(112,112,112,1);
}
.search {
	position: absolute;
	top: 47px;
	right: 180px;
	width: 47px;
}
.about-me {
	font-size: 20px;
	text-align: center;
	font-family: Avenir;
	color: rgba(112,112,112,1);
	border-style: solid;
	border-width: 1px;
	border-color: rgba(211,211,211,1);
	height: 50px;
	line-height: 50px;
	width: 120px;
	position: absolute;
	top: 40px;
	right: 30px;

}
hr {
	width: 60%;
	background-color: rgba(211,211,211,1);
	height: 1px;
	border: transparent;
}
