.title {
	font-size: 100px;
	text-align: center;
	font-family: Avenir;
	color: rgba(112,112,112,1);
}
.search {
	position: absolute;
	top: 60px;
	right: 220px;
	width: 60px;
}
.about-me {
	font-size: 25px;
	text-align: center;
	font-family: Avenir;
	color: rgba(112,112,112,1);
	border-style: solid;
	border-width: 1px;
	border-color: rgba(211,211,211,1);
	height: 70px;
	line-height: 70px;
	width: 150px;
	position: absolute;
	top: 50px;
	right: 30px;

}
hr {
	width: 60%;
	background-color: rgba(211,211,211,1);
	height: 1px;
	border: transparent;
}
